[Unit]
Description=AQ Boss Linux Updater
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/aq-boss-linux/updater/aq-boss-linux.py
Restart=always
RestartSec=30
User=root
WorkingDirectory=/opt/aq-boss-linux/updater

[Install]
WantedBy=multi-user.target
