ACTION=="add", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", ENV{ID_FS_TYPE}!="", \
    RUN+="/bin/systemctl start aq_boss_usb_update@%E{DEVNAME}.service"
